<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Add Blood Drive</title>
    <link rel="stylesheet" href="./design.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<div class="header">
    <div class="ui green clearing inverted segment">
        <!--See modal section of semantic, click on login to popup the username and pw prompt-->
        <!--signup will be a button next to login that turns into a signout after a user is logged in-->

        <div class="ui right floated header">
            <button class="ui red button" id="loginButton" onclick="openLoginModal()">SignUp/Login</button>
            <!--show after logged in-->
            <a href="/logout">
              <button class="ui red button" id="logoutButton">Logout</button>
            </a>
        </div>
        <h3 class="ui left floated huge red header">
            Red Cross Warriors
        </h3>
    </div>
</div>
<nav id="nav-placeholder">


</nav>

</div>
<!--jquery should be above semantic because of dependencies-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="./webpageFun.js"></script>

<div class="ui fluid container">
    <div class="content">
        <div class="transparent-bg">
            <img src="./Blood-Donation.jpg" id="bdimg" style="width:100%;">
        </div>

        <div class="ui container">
            <div class="centered">
                <div id="successMessageContainer" class="ui positive message transition hidden">
                    <p id="successMessage">Blood drive was successfully added</p>
                </div>
              <div class="mainContainer" id="mainContainer" style="display: block">

			  <div class="ui placeholder inverted segment" id="fogCover" style="background: rgba(0,0,0,.7); max-width: 1200px; max-height: 475px; overflow-y: auto;">
                <h1 style="font-size:4vw;">Add Blood Drive</h1>
                <p style="font-size:2vw;">Make sure the information below is correct</p>

                <form class="ui inverted form">
                  <div class="field">
                    <label>Title:</label>
                    <input type="text" id="title" placeholder="title">
                  </div>
                  <div class="field">
                    <label>Location:</label>
                    <input type="text" id="location" placeholder="Location">
                  </div>
                  <div class="field">
                    <label>Time:</label>
                    <input type="time" id="time">
                  </div>
                  <div class="field">
                    <label>Date:</label>
                    <input type="date" id="date">
                  </div>
                  <div class="field">
                    <label>Description:</label>
                    <textarea id="description" placeholder="Description"></textarea>
                  </div>
                  <div class="field">
                    <label>Link:</label>
                    <input type="text" id="link" placeholder="link">
                  </div>
                </form>
                <br>
                <button id="addBloodDriveButton" class="ui button primary">Add Blood Drive</button>

              </div>
            </div>
        </div>

    </div>
 </div>
</div>
<script>
  $(document).ready(function() {
    loadNav();
    $.get("/loginStatus", function(data, status) {
      if (data.isLoggedIn == true){
        document.getElementById("logoutButton").style.display = "block";
        document.getElementById("loginButton").style.display = "none";
      }


    });
  });

  function errorColor(elementId) {
    document.getElementById(elementId).style.backgroundColor = "#FA8072";
    return true;
  }

  function inputCheck() {
    var isError = false;
    var titleLen = (($("#title").val()).length)
    var locationLen = (($("#location").val()).length);
    var timeLen = (($("#time").val()).length) + 3;
    var dateLen = (($("#date").val()).length);
    var descriptionLen = (($("#description").val()).length);

    if (titleLen == 0) {
      isError = errorColor("title");
    }
    if (locationLen == 0) {
      isError = errorColor("location");
    }
    if (timeLen != 8) {
      isError = errorColor("time");
    }
    if (dateLen != 10) {
      isError = errorColor("date");
    }
    if (descriptionLen == 0) {
      isError = errorColor("description");
    }

    return isError;
  }


  function getBloodDriveData(){
    var t = $("#time").val() + ":00";
      return {
          title: $("#title").val(),
          location: $("#location").val(),
          time: t,
          date: $("#date").val(),
          description: $("#description").val(),
          link: $("#link").val(),
      };
  }


  $("#addBloodDriveButton").click(function(){
    if (inputCheck() == false) {
      $.ajax(
          {
              type:"POST",
              url: "/bloodDrive",
              data: JSON.stringify(getBloodDriveData()),
              contentType: "application/json",
              success: function(data){
                  displaySuccess(data.message);
              }
          }
      )
    }
  });


  function displaySuccess(message){
      $("#mainContainer").hide();
      $("#successMessageContainer").removeClass("hidden");
      $("#successMessage").val(message);
  }

</script>
<div class="footer">
</div>
</body>
</html>
