<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="webpageFun.js"></script>


<body style="background: #21ba45">
<div class="ui fluid container">

    <h2>Users:</h2>

    <template id="userTemplate">
        <div class="user">
            <div class="text">

            </div>
        </div>
    </template>


    <div class="ui container" id="userList">
        <p id="userListGoesHere"></p>
    </div>

</div>


<script>

    function deleteUser(userEmail){

        //this is what works in postman: to delete users from DB:
        //localhost:8080/user?emailAddress=example@wayne.edu

        let queryString = '/user?emailAddress=' + userEmail;
        console.log('deleting user: '+ userEmail);

        $.ajax({
            type: 'DELETE',
            url: queryString,
            success: function(){
                alert('user account ' + userEmail + ' deleted');
                location.reload();
            },
            error: function(){
                alert("Error Failed To Delete User");
                location.reload();
            }
        });
    }

    function removeChildNodes(parent){
        while (parent.firstChild) {
        parent.removeChild(parent.lastChild);
        }
    }


    function showUsers(data){
        let userList = document.querySelector("#userList");
        let entryTemplate = document.getElementById("userTemplate");
        console.log(data);

        for(var i = 0; i< data.length;i++){
            // create a new message element from the template
            let newUserElement = entryTemplate.content.cloneNode(true);
            // get the text component of the message
            let textComponent = newUserElement.querySelector('.text');

            let info = "<hr/>Name: " + data[i].firstName + " " + data[i].lastName + "<br/>"
                + "E-mail: " + data[i].email + "<br/>";

            var button = document.createElement('input');
            button.setAttribute('type', 'button');
            button.setAttribute('class', 'ui red inverted button');
            button.setAttribute('value', 'Delete this user');
            button.setAttribute('id', data[i].email);
            button.setAttribute('onclick', 'deleteUser(this.id)');


            textComponent.innerHTML = info;

            // Add the message to the document
            userList.appendChild(newUserElement);
            userList.appendChild(button);
        }
    }

    $(document).ready(function() {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/user',
            success: function(data){
                showUsers(data);
            },
            error: function(){alert("Error Failed To Retrieve User List");}
            }
        );
    });


</script>


</body>
</html>