<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="webpageFun.js"></script>

<body>
    <body style="background: #21ba45">
    <div class="ui fluid container">


        <div class="centered">
            <div class="userListContainer" id="userListContainer">

                    <h2>Users:</h2>



                    <div class="ui container" id="userList">
                        <p id="userListGoesHere"></p>
                    </div>

                <div>
                    <br>
                    Enter Email of User to Delete &nbsp
                    <input type="text" id="emailToDelete"/>
                    <br>
                    Verify Email of User to Delete
                    <input type="text" id="emailConfirmation"/>
                    <br>
                    <button onClick="deleteUser();">Submit</button>
                </div>

            </div>
            </div>
        </div>

    </div>

<script>

    function deleteUser(){

        //this is what works in postman: to delete users from DB:
        //localhost:8080/user?emailAddress=example@wayne.edu

        let emailConfirmation = document.getElementById("emailConfirmation").value;
        let email = document.getElementById("emailToDelete").value;

        if(email != emailConfirmation){
            alert("Emails do not match!");
        }
        else
        {
            let queryString = '/user?emailAddress=' + email;
            console.log('deleting user: '+email);

            $.ajax({
                type: 'DELETE',
                url: queryString,
                success: function(){
                    alert('user account ' + email + ' deleted');
                    location.reload();
                },
                error: function(){
                    alert("Error Failed To Delete User");
                    location.reload();
                }
            });
        }
    }


    function showUsers(data){
        console.log(data);
        var list = "";
        for(var i = 0; i< data.length;i++){
            console.log(data[i].email);
            console.log(data[i].firstName);
            list += 'Name: ' + data[i].firstName + ' ' + data[i].lastName
                    + '<br>' + 'email: '+ data[i].email + '<br>' + '<br>';

        }

        document.getElementById("userListGoesHere").innerHTML = list;

    }

    $(document).ready(function() {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/user',
            success: function(data){
                showUsers(data);
            },
            error: function(){alert("Error Failed To Retrieve User List");}
            }
        );

    });






</script>


</body>
</html>