<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Wayne State Blood Bank</title>
    <link rel="stylesheet" href="./design.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<div class="header">
    <div class="ui green clearing inverted segment">
        <!--See modal section of semantic, click on login to popup the username and pw prompt-->
        <!--signup will be a button next to login that turns into a signout after a user is logged in-->

        <div class="ui right floated header">
            <button class="ui red button" id="loginButton" onclick="openLoginModal()">SignUp/Login</button>
            <!--show after logged in-->
            <a href="/logout">
              <button class="ui red button" id="logoutButton">Logout</button>
            </a>
        </div>
        <h3 class="ui left floated huge red header">
            Red Cross Warriors
        </h3>
    </div>
</div>


</div>
<!--jquery should be above semantic because of dependencies-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="./webpageFun.js"></script>
<nav>
    <!--whatever pages we want-->
    <div class="ui attached stackable menu">
        <!--how to make this fully left l-->
        <div class="ui container">
            <a class="item" onclick="location.href='index.html'">
                <i class="home icon" id="homeButton"></i> Home
            </a>
            <a class="item">
                <i class="grid layout icon"></i> Page 2
            </a>
            <a class="item">
                <i class="mail icon"></i> Page 3
            </a>
            <!--how to lock this behind login-->
            <div class="ui simple dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/myProfile"> My Profile</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="ui fluid container">
    <div class="content">
        <div class="transparent-bg">
            <img src="./Blood-Donation.jpg" id="bdimg" style="width:100%;">
        </div>

        <div class="ui container">
            <div class="centered">
                <div id="successMessageContainer" class="ui positive message transition hidden">
                    <p id="successMessage">Success</p>
                </div>
                <div id="errorMessage" class="ui error message hidden">
                    <div class="header">Invalid Input please fix the following fields</div>
                    <ul id="errorList">
                    </ul>
                </div>
              <div class="mainContainer" id="mainContainer" style="display: block">

			  <div class="ui placeholder inverted segment" id="fogCover" style="background: rgba(0,0,0,.7); max-width: 1200px; max-height: 475px; overflow-y: auto;">
                <h1 style="font-size:4vw;">Your Profile</h1>
                <p style="font-size:2vw;">Make sure the information below is correct</p>

                <form class="ui huge inverted form">
                    <div class="field">
                        <label>First Name</label>
                        <input naem="firstName" type="text" id="firstName">
                    </div>
                    <div class=" field">
                        <label>Last Name</label>
                        <input type="text" id="lastName">
                    </div>
                    <div class="fields">
                        <label>Would you like to be a blood donor?</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <label>Yes</label>
                                <input id="bloodDonorYes" type="radio" name="bloodDonorStatus" value="Y">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <label>No</label>
                                <input id="bloodDonorNo" type="radio" name="bloodDonorStatus" value="N">
                            </div>
                        </div>
                    </div>
                    <div class=" field">
                        <label>Phone Number</label>
                        <input type="tel" id="phoneNumber">
                    </div>
                    <div class="field disabled">
                        <label>Blood Type</label>
                        <input id="bloodType" type="text" readonly >
                    </div>
                    <div class="field disabled">
                        <label>Birth Day</label>
                        <input id="birthDay" type="text" readonly>
                    </div>
                    <div class="field disabled">
                        <label>Email</label>
                        <input id="email" type="text" readonly>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input id="password" type="password">
                    </div>
                </form>
                <br>
                <button id="editProfileButton" class="ui button primary">Edit Profile</button>
                <button id="deleteProfileButton" class="ui button red">Delete Profile</button>

              </div>
            </div>
        </div>

    </div>
 </div>
</div>
<script>
$(document).ready(function() {
  $.get("/loginStatus", function(data, status) {
    if (data.isLoggedIn == true){
      document.getElementById("logoutButton").style.display = "block";
      document.getElementById("loginButton").style.display = "none";
    }


  });
});

    $('.ui.checkbox')
  .checkbox()
;

function displayInfo(data){
    $("#firstName").val(data.firstName);
    $("#lastName").val(data.lastName);
    $("#phoneNumber").val(data.phoneNumber);
    $("#bloodType").val(data.bloodType);
    $("#birthDay").val(data.birthDay);
    $("#email").val(data.email);
    if(data.bloodDonorStatus == "Y"){
        $("#bloodDonorYes").attr("checked", "checked");
    }
    else{
        $("#bloodDonorNo").attr("checked","checked");
    }
}

function getEditProfileData(){
    let password = $("#password").val();
    if(password == ""){
        password = null;
    }
    return {
        firstName: $("#firstName").val(),
        lastName: $("#lastName").val(),
        phoneNumber: $("#phoneNumber").val(),
        bloodDonorStatus: $('input[name="bloodDonorStatus"]:checked').val(),
        password: password
    };
}


function displayErrors(data){
    $("#errorList").empty();
    if(data.status == 400){
        displayBadRequestErrors(data.errors);
    }
    else{
        displayOtherErrors(data.message);
    }
}

function displayBadRequestErrors(errors){
    var index;
    for(index in errors){
        let error = errors[index];
        let errorElement =  "<li>";
        errorElement += "Error: ";
        errorElement += error.error;
        errorElement +=" </li>";
        $("#errorList").append(errorElement);
    }
    $("#errorMessage").removeClass("hidden");
}

function displayOtherErrors(message){
    $("#errorMessage").removeClass("hidden");
    $("#errorList").append("<li> " + message + " </li>");
}

$("#editProfileButton").click(function(){
    $.ajax(
        {
            type:"PUT",
            url: "/profile",
            data: JSON.stringify(getEditProfileData()),
            contentType: "application/json",
            success: function(data){
                displaySuccess(data.message);
            }
        }
    ).fail(function(xhr, status, errorThrown){
        displayErrors(xhr.responseJSON);
    });
});

$("#deleteProfileButton").click(function(){
    var confirmed = confirm("Deleting your profile is permanent are you sure you want to delete your profile?");
    if(confirmed == true){
        $.ajax(
        {
            type:"DELETE",
            url: "/profile",
            data: JSON.stringify(getEditProfileData()),
            contentType: "application/json",
            success: function(data){
                displaySuccess(data.message);
            }
        }
        ).fail(function(xhr, status, errorThrown){
            displayErrors(xhr.responseJSON);
        });
    }
});

function displaySuccess(message){
    $("#mainContainer").hide();
    $("#successMessageContainer").removeClass("hidden");
    $("#successMessage").val(message);
    $("#errorMessage").hide();
}

$(document).ready(function(){
    $.ajax(
        {
            type:"GET",
            dataType: "JSON",
            url:"/profile",
            success: function(data){
                displayInfo(data);
            }
        }
    ).fail(function(xhr, status, errorThrown){
        displayErrors(xhr.responseJSON);
    });
});

</script>
<div class="footer">
</div>
</body>
</html>
