<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Feedback</title>
    <link rel="stylesheet" href="design.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
</head>
<div class="header">
    <div class="ui green clearing inverted segment">
        <!--See modal section of semantic, click on login to popup the username and pw prompt-->
        <!--signup will be a button next to login that turns into a signout after a user is logged in-->

        <div class="ui right floated header">
            <button class="ui red button" id="loginButton" onclick="openLoginModal()">SignUp/Login</button>
            <!--show after logged in-->
            <a href="/logout">
              <button class="ui red button" id="logoutButton">Logout</button>
            </a>
        </div>
        <a href="/index.html">
          <h3 class="ui left floated huge red header">
              Red Cross Warriors
          </h3>
        </a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="webpageFun.js"></script>
<nav>
    <!--whatever pages we want-->
    <div class="ui attached stackable menu">
        <!--how to make this fully left l-->
        <div class="ui container">
            <a class="item" onclick="location.href='index.html'">
                <i class="home icon" id="homeButton"></i> Home
            </a>
            <a class="item" onclick="location.href='contactus.html'">
                <i class="mail icon"></i> Contact Us
            </a>
            <a class="item">
                <i class="grid layout icon"></i> option 3
            </a>
            <!--how to lock this behind login-->
            <div class="ui simple dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"> Edit Profile</a>
                    <a class="item"> Send Request?</a>
                    <a class="item">Account Settings</a>
                </div>
            </div>
        </div>
    </div>

</nav>


<body>
  <body style="background: #21ba45">
  <div class="ui fluid container">
      <div class="content">
          <div class="transparent-bg">
              <img src="images/Blood-Donation.jpg" id="bdimg" style="width:100%; background-size: cover;">
          </div>
          <div class="ui left aligned container">
              <div class="centered">
                <div class="feedbackContainer" id="feedbackContainer">
                  <div class="ui placeholder segment" id="fogCover" style="background: rgba(0,0,0,.7); max-width: 753px; max-height: 349px; overflow-y: auto;">
                    <h2>Feedback</h2>
                    <template id="commentTemplate">
                        <div class="comment">
                            <div class="text">
                                  Hello World!
                            </div>
                            <button class="ui red inverted button" id="but">Resolve</button>
                        </div>
                        <hr/>
                    </template>
                    <div class="ui container" id="feedbackList">

                    </div>

                  </div>
                </div>


              </div>

          </div>

      </div>

  </div>





<script>
  loginCheck();

  function deleteButton (id) {
    alert("helo");
      $.ajax({
          type: 'DELETE',
          dataType: 'json',
          url: `/feedback/${id}`,
          success: function(){
              location.reload();
          },
          error: function(){
              alert("Error Failed To Delete Feedback");
          }
      });
  }

  function removeChildNodes(parent){
    while (parent.firstChild) {
        parent.removeChild(parent.lastChild);
    }
  }

function showMessages(data){
    let feedbackList = document.querySelector("#feedbackList");
    // clear all messages
    removeChildNodes(feedbackList);
    let messageTemplate = document.getElementById("commentTemplate");
    let loop = false;
    // loop through each message and display it.
    for(var i=0; i < data.length; i++){
        // create a new message element from the template
        let newMessageElement = messageTemplate.content.cloneNode(true);

        // get the text component of the message
        let textComponent = newMessageElement.querySelector('.text');
        // set the message to the current message
        let format = "Name: " + data[i].name + "<br/>"
          + "E-mail: " + data[i].email + "<br/>"
          + "Message: <br/>" + data[i].message + "<br/>";
        textComponent.innerHTML = format;
        //document.getElementById("but").onclick = deleteButton(data[i].id);

        $(document).ready(function(){
          $('#but').click(deleteButton(data[i].id));
        });

          // Add the message to the document
        feedbackList.appendChild(newMessageElement);
      }
  }

  function fetchMessages(){
    $.ajax({
        type: 'GET',
        dataType: 'json',
        url: '/feedback',
        success: function(data){
            showMessages(data);
        },
        error: function(){
            alert("Error Failed To Retrieve Feedback");
        }
    });


  }

  $(document).ready(function() {
    fetchMessages();
  });



</script>
</body>
</html>
